<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="carousel-content">
          <h3>Company</h3>
          <p class="index_main_line"></p>
          <p class="small-font">고객만족을 위한 기업</p>
          <p class="small-font">지산화학(주)입니다.</p>
      </div>
    </div>
    <div class="item">
      <div class="carousel-content">
          <h3>Product</h3>
          <p class="index_main_line"></p>
          <p class="small-font">생활제품</p>
          <p class="small-font">생활제품을 전문으로 다루는 회사입니다.</p>
      </div>
    </div>
    <div class="item"> 
      <div class="carousel-content">    
          <h3></h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
<!-- Controls -->
<!--<a class="left carousel-control" href="#carouselFade" role="button" data-slide="prev">-->
<!--    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
<!--    <span class="sr-only">Previous</span>-->
<!--</a>-->
<!--<a class="right carousel-control" href="#carouselFade" role="button" data-slide="next">-->
<!--    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
<!--    <span class="sr-only">Next</span>-->
<!--</a>-->
</div>

<script>
  $('.carousel').carousel({
  interval: 4000
})
</script>