<div class="businessarea_banner">
    <div class="banner_content_2">
        <p class="font_double_large" style="margin-bottom:8px;">사업분야</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">지산화학(주)의 사업분야는 ~ 입니다.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">사업분야</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">사업소개</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large ">
            사업소개
        </p>
        <p class="main_line"></p>
        <p class="font-middle">
            지산화학(주)는 도매, 소매를 전문으로 하는 기업입니다.
        </p>
    </div>
</div>