<div class="businessarea_banner">
    <div class="banner_content_2">
        <p class="font_double_large" style="margin-bottom:8px;">사업분야</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">지산화학(주)의 사업분야는 ~ 입니다.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">사업분야</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page" >관계사 및 고객사</span>
            <span class="category_content_img" style="margin-left:-20px">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large" style="margin-bottom:8px;">관계사 및 고객사</p>
        <p class="logo_line"></p>
        <p class="font-middle">지산화학(주)는 언제나 동반성장을 지향합니다.</p>
    </div>
    
    <div class="partners_logo_box">
        <div class="partners_logo_column">
            <a href="http://www.akzonobel.com/international" target="blank"><img class="partners_logo_4" src="/akzonobel_logo_4.png"></img></a>
                <p class="logo_dummy_4"></p>    
            <a href="http://www.lgchem.co.kr" target="blank"><img class="partners_logo_3" src="/lgchem_logo_3.png"></img></a>
                <p class="logo_dummy_3"></p>
        </div>
        <div class="partners_logo_column">
            
            <a href="http://www.basf.co.kr" target="blank"><img class="partners_logo_5" src="/basf_logo_5.png"></img></a>
                <p class="logo_dummy_5"></p>
            <a href="http://www.sknetworks.co.kr" target="blank"><img class="partners_logo_6" src="/sknetworks_logo_6.png"></img></a>
                <p class="logo_dummy_6"></p>
        </div>
    </div>
    
</div>




