<%= render './layouts/nav' %>

<div class="product_introduction_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px; color:#333;">제품소개</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">지산화학(주)의 신뢰할 수 있는 제품에 대해 소개합니다.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">제품소개</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">화학제품류</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large ">
            화학제품류
        </p>
        <p class="main_line"></p>
        <p class="font-middle">
            지산화학은 PHENOL, EPOXY, METHANOL, 기타 용제류등 을 전문적으로 취급하고 있으며
            국내 및 해외 제조사들와의 협력관계를 통해 합리적인 가격과 우수한 품질의 화학제품을
            국내외에 공급하고 있습니다.
        </p>
    </div>
    
    
    <p>
        <span class="middle_title_arrow">▶︎</span>
        <span class="font-middle">제품리스트</span>
    </p>
    <div class="table_scope">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th class="table_top table_th">약어</th>
                <th class="table_th">용칭</th>
                <th class="table_th">명어</th>
                <th class="table_th">MSDS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th class="table_th" scope="row">ACETONE</th>
                <td></td>
                <td></td>
                <td>
                    <a href="/pdf_file/PHENOL_MSDS.pdf" target="_blank" title="새창">
                        파일 다운로드
                    </a>
                </td>
            </tr>    
            <tr>
                <th class="table_th" scope="row">ALUMINA(ATH)</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">AMS</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <th class="table_th" scope="row">BIO-BUNKER</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <th class="table_th" scope="row">BPA</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <th class="table_th" scope="row">CYCLOHEXANONE</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <th class="table_th" scope="row">DEG</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">DIBK</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">DMF</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">EPOXY RESINS</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">IPA</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">METHANOL</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">MEG</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">MIBK</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">MXDA</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">N-BUTANOL</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">PHENOL</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">PHOSPORIC ACID</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">PIA</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">PM</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">PMA</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
          </tbody>
        </table>
    </div>
    
</div>