<%= render './layouts/nav' %>

<div class="product_introduction_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px; color:#333;">제품소개</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">제품군을 소개합니다.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">제품소개</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">생활가전류</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large ">
            생활가전류
        </p>
        <p class="main_line"></p>
        <p class="font-middle">
            생활,가전 및 아이디어 제품을 국내에 판촉, 유통하고 일본 메이저 상사와 협력관계를 맺어
            국내 상품을 일본 및 해외 판매 또는 일본상품을 국내유통하는 신사업을 진행하고 있으며
            다양한 경험을 기반으로 종합전문상사를 목표로 하고 있습니다.
        </p>
    </div>
    
    <p>
        <span class="middle_title_arrow">▶︎</span>
        <span class="font-middle">제품리스트</span>
    </p>
    <div class="table_scope">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th class="table_top table_th">제품명</th>
                <th class="table_th">제품설명</th>
                <th class="table_th">MODEL</th>
                <th class="table_th">ORIGIN</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th class="table_th" scope="row">BTA(S)</th>
                <td>블루투스 스피커</td>
                <td></td>
                <td></td>
            </tr>    
            <tr>
                <th class="table_th" scope="row">DIY 아트타일</th>
                <td>스타일리쉬 패션타일</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">물로만 칫솔</th>
                <td>물로만 양치가능한 나노 칫솔</td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <th class="table_th" scope="row">매직싹싹</th>
                <td>친환경, 일체형 고무장갑&수세미</td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <th class="table_th" scope="row">통도마</th>
                <td>친환경 사탕수수도마</td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <th class="table_th" scope="row">힐링샤워기</th>
                <td>힐링 마사지 샤워헤드 </td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <th class="table_th" scope="row">비타민 필터</th>
                <td>샤워기에 꽂아쓰는 비타민 필터</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">VIVANT</th>
                <td>비방트 선글라스</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">SNOW STOP</th>
                <td>차랑뱌퀴 미끄럼 방지제품</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">런드리</th>
                <td>걸이식 의류 관리기</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">미러엠</th>
                <td>조명&바람 스탠드식 화장용 거울</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">몬스트럭쳐</th>
                <td>조립식 공간활용 스테인레스 가구</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">HATA</th>
                <td>블루투스 공기청정기</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">해피락</th>
                <td>가정용 진공포장기</td>
                <td></td>
                <td></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>