<div class="product_sale_banner">
    <div class="banner_content_2">
        <p class="font_double_large" style="margin-bottom:8px;">제품구매</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">언제든지 필요할 때 연락바랍니다.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">제품구매</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">판매담당자</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    본문
</div>