<div class="product_sale_banner">
    <div class="banner_content_2">
        <p class="font_double_large" style="margin-bottom:8px;">제품구매</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">언제든지 필요할 때 연락바랍니다.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">제품구매</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">판매담당자</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large ">
            판매담당자
        </p>
        <p class="main_line"></p>
        <p class="font-middle">
            지산화학(주)는 지속적 관계를 위해 최선을 다합니다.
        </p>
    </div>
    <div class="sp_box">
        <div class="sp_box_top">
            <p class="sp_box_top_content">
                화학제품 담당자
            </p>
        </div>
        <div class="sp_box_bottom">
            <p class="sp_box_bottom_content">
                황준호 / 국내영업팀<br>
                이메일 : jhwang@jisanchem.com<br>
                전화번호 : 02-2678-8257
            </p>
        </div>
    </div>
    <div class="sp_box">
        <div class="sp_box_top">
            <p class="sp_box_top_content">
                생활제품 담당자
            </p>
        </div>
        <div class="sp_box_bottom">
            <p class="sp_box_bottom_content">
                정예림 / 해외영업팀<br>
                이메일 : lyjung@jisanchem.com<br>
                전화번호 : 02-2678-8257
            </p>
        </div>
    </div>
    <div class="sp_box">
        <div class="sp_box_top">
            <p class="sp_box_top_content">
                가전제품 담당자
            </p>
        </div>
        <div class="sp_box_bottom">
            <p class="sp_box_bottom_content">
                정예림 / 해외영업팀<br>
                이메일 : lyjung@jisanchem.com<br>
                전화번호 : 02-2678-8257
            </p>
        </div>
    </div>
</div>