<div class="company_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px;  color:#333;">회사소개</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">지산화학(주)를 소개합니다.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">회사소개</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">재무정보</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large ">
            재무정보
        </p>
        <p class="main_line"></p>
        <p class="font-middle">
            지산화학(주)는 상생을 위한 투명한 재무정보를 제공합니다.
        </p>
    </div>
    
    <p>
        <span class="middle_title_arrow">▶︎</span>
        <span class="font-middle">재무상태표</span>
    </p>
    <div class="table_scope">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="table_top"></th>
              <th class="table_th">2016</th>
              <th class="table_th">2015</th>
              <th class="table_th">2014</th>
              <th class="table_th">2013</th>
              <th class="table_th">2012</th>
              <th class="table_th">2011</th>
              <th class="table_th">2010</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table_th" scope="row">자산총계</th>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
            </tr>
            <tr>
              <th class="table_th" scope="row">부채총계</th>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
            </tr>
            <tr>
              <th class="table_th" scope="row">자본총계</th>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
            </tr>
          </tbody>
        </table>
    </div>
    
    <p>
        <span class="middle_title_arrow">▶︎</span>
        <span class="font-middle">손익계산서</span>
    </p>
    <div class="table_scope">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="table_top"></th>
              <th class="table_th">2016</th>
              <th class="table_th">2015</th>
              <th class="table_th">2014</th>
              <th class="table_th">2013</th>
              <th class="table_th">2012</th>
              <th class="table_th">2011</th>
              <th class="table_th">2010</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table_th" scope="row">매출액</th>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
            </tr>
            <tr>
              <th class="table_th" scope="row">영업이익</th>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
            </tr>
            <tr>
              <th class="table_th" scope="row">당기순이익</th>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
              <td>333,333</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>