<%= render './layouts/nav' %>

<div class="company_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px;  color:#333;">회사소개</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">지산화학(주)를 소개합니다.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">회사소개</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">재무정보</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large ">
            재무정보
        </p>
        <p class="main_line"></p>
        <p class="font-middle">
            지산화학(주)는 상생을 위한 투명한 재무정보를 제공합니다.
        </p>
    </div>
    
    <p>
        <span class="small_title_index">︎</span>
        <span class="font-middle">총매출액</span>
    </p>
    
    <img class="finance_chart" src="/total_sales_chart.png"></img>
    
    <p>
        <span class="small_title_index">︎</span>
        <span class="font-middle">당기순이익</span>
    </p>
    <img class="finance_chart" src="/benefit_chart.png"></img>

    
    <p>
        <span class="small_title_index">︎</span>
        <span class="font-middle">자산총계</span>
    </p>
    
    <img class="finance_chart" src="/asset_chart.png"></img>
    
    
</div>