/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

*{
  box-sizing: border-box;
  word-break:keep-all;
}

#nav_bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#logo_image{
    width:100px;
    height:50px;
    margin-left: 20px;
}

.nav-bar{
    list-style-type: none;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    width:90%;
}

ul{
    margin:0px!important;
}

.nav-bar>li{
    display:inline-block;
    font-size:17px;
    font-weight:600;
}

.nav-bar>li>a{
    text-decoration:none;
    color:black;
    padding:17px 20px;
}

.nav-bar>li>a:hover{
    color:white;
    background-color:blue;
}
.subnav-company{
    list-style-type: none;
    display:none;
    justify-content:flex-end;
    padding-right:335px;
    align-items:center;
    height:40px;
    width:100%;
    z-index:99;
    position:absolute;
    background-color:blue;
    color:white;
    font-size:14px;
}

.subnav-company>li>a{
    text-decoration:none;
    color:white;
    padding: 0px 15px;
}

.subnav-company>li>a:hover{
    padding-bottom:9px;
    border-bottom:3px solid white;
}

.subnav-businessarea{
    list-style-type: none;
    display:none;
    justify-content:flex-end;
    align-items:center;
    width:100%;
    height:40px;
    padding-right:335px;
    z-index:99;
    position:absolute;
    background-color:blue;
    color:white;
}
.nav-content{
    padding:14px 0px;
}

.subnav-businessarea>li>a{
    text-decoration:none;
    color:white;
    padding: 0px 15px;
}

.subnav-businessarea>li>a:hover{
    padding-bottom:9px;
    border-bottom:3px solid white;
}

.subnav-product-introduce{
    list-style-type: none;
    display:none;
    justify-content:flex-end;
    align-items:center;
    width:100%;
    height:40px;
    z-index:99;
    position:absolute;
    background-color:blue;
    color:white;
    padding-right:250px;
}


.subnav-product-introduce>li>a{
    text-decoration:none;
    color:white;
    padding: 0px 15px;
}

.subnav-product-introduce>li>a:hover{
    padding-bottom:9px;
    border-bottom:3px solid white;
}

.subnav-product-sale{
    list-style-type: none;
    display:none;
    align-items:center;
    justify-content:flex-end;
    width:100%;
    margin-left:500px;
    height:40px;
    z-index:99;
    position:absolute;
    background-color:blue;
    color:white;
    padding-right:207px;
}

.subnav-product-sale>li>a{
    text-decoration:none;
    color:white;
    padding: 0px 15px;
}

.subnav-product-sale>li>a:hover{
    padding-bottom:9px;
    border-bottom:3px solid white;
}

.subnav-support{
    list-style-type: none;
    display:none;
    align-items:center;
    justify-content:flex-end;
    width:100%;
    margin-left:500px;
    height:40px;
    z-index:99;
    position:absolute;
    background-color:blue;
    color:white;
    padding-right:80px;
}


.subnav-support>li>a{
    text-decoration:none;
    color:white;
    padding: 0px 15px;
}

.subnav-support>li>a:hover{
    padding-bottom:9px;
    border-bottom:3px solid white;
}

.subnav-content{
    margin:0px 5px;
}

.main{
    border-top:0.5px solid lightgray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size:cover;
    height:100vh;
    width:100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    position:relative;
    z-index:10;
}
.main_content_box{
    padding-left:150px;
    padding-top:180px;
}


.font-middle{
    font-size:22px;
    font-family: 'Noto Sans KR', sans-serif;
}

.font-large{
    font-size:32px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:500;
}

.main_color{
    color:blue;
}

.current_page{
    color:blue!important;
}

footer{
    width:100%;
}

.table_center{
    text-align:center;
    vertical-align: middle !important;
}

// businessarea page

.businessarea_banner{
    height:40vh;
    width:100%;
    background: url('/businessarea_banner.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    border-bottom:1px solid lightgray;
}

.logo_line{
    border-top:3px solid blue;
    width:250px;
}

.partners_logo_box{
    width:100%;
    display:flex;
    justify-items:space-around;
    align-items:center;
    height:75vh;
    margin-top:70px;
}

.partners_logo_column{
    display:inline-flex;
    align-items:center;
    flex-direction:column;
    width:50%;
    height:100%;
}
.partners_logo_1{
    width:400px;
}

.logo_dummy_1{
    margin-bottom:150px;
}

.partners_logo_2{
    width:450px;
}

.logo_dummy_2{
    margin-bottom:150px;
}

.partners_logo_3{
    width:320px;
}

.logo_dummy_3{
    margin-bottom:100px;
}

.partners_logo_4{
    width:400px;
}

.logo_dummy_4{
    margin-bottom:138px;
}

.partners_logo_5{
    width:350px;
}

.logo_dummy_5{
    margin-bottom:125px;
}

.partners_logo_6{
    width:320px;
}

.logo_dummy_6{
    margin-bottom:75px;
}

// company page


.company_banner{
    height:40vh;
    width:100%;
    background: url('/company_banner.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    border-bottom:1px solid lightgray;
}
.category{
    background-color:white;
    height:6vh;
    display:flex;
    align-items:center;
    border-bottom:1px solid lightgray;
}

.main_line{
    border-top:3px solid blue;
    width:150px;
}

.main_double_line{
    border-top:3px solid blue;
    width:250px;
}

.banner_content{
    margin-left:230px;
}

.banner_content_2{
    margin-left:230px;
    color:white;
}

.category_content_box{
    margin-left:150px;
    height:100%;
    display:flex;
    align-items:center;
}

.category_content{
    display:flex;
    align-items:center;
    height:inherit;
    padding-left:15px;
    margin-bottom:0px;
    border-left:1px solid lightgray;
}

.category_content_last{
    display:flex;
    align-items:center;
    height:inherit;
    padding-left:15px;
    margin-bottom:0px;
    border-left:1px solid lightgray;
    border-right:1px solid lightgray;
}

.category_content_name{
    font-size:20px;
    color:lightgray;
    font-family: 'Noto Sans KR', sans-serif;
    padding-right:100px;
}

.category_content_img{
    margin-right:15px;
    font-size:20px;
    color:lightgray;
    font-family: 'Noto Sans KR', sans-serif;
}

.main_content{
    margin-left:67px;
    margin-top:80px;
    padding-bottom:60px;
}

/////// histroy page
.history-main-wrap{
    display:flex;
    margin-top:50px;
    margin-bottom:70px;
}
.history-main-left{
    border-left: 1px solid blue;
    margin-left: 100px;
    width:100px;
    display:inline-block;
}
.history-left-small-line:before{
    display:block;
    content: '';
    top: 50%;
    z-index: 10;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    background: #fff;
    border: 2px solid blue;
    border-radius: 50%;
}
.history-left-small-line{
    border-top: 1px solid blue;
    width: 70px;
    margin-bottom: 120px;
    // height: 80px;
}
.history-main-right{
    
}


.history-main-right > p{
    display:flex;
    align-items:center;
    width:760px;
    height:110px;
    margin-bottom: 21px !important;
    border: 1px solid lightgray;
}
.history-year{
    display: inline-block;
    margin: 30px;
    font-size: 25px;
    font-weight: 500;
    color: blue;
    
}
.history-dotted-line{
    height:85px;
    border-right:1px dotted lightgray;
}
.history-year-content{
    display:inline-block;
    margin-left:30px;
    font-size:20px;
    color: gray;
}

////// vision page

.vision_image{
    display:flex;
    align-items:center;
    justify-content:center;
}

////// finance page
.middle_title_arrow{
    color:blue; 
    font-size:24px;
    margin-left:75px;
    margin-right:5px;
}
.table_scope{
    width:83.33%;
    display:flex;
    justify-content:center;
    margin-bottom:40px;
}
.table_scope:before{
    content:'';
    display:inline-block;
    width:10%;
}
.table_scope:after{
    content:'';
    display:inline-block;
    width:10%;
}
.table{
    table:100%;
    font-size: 15px;
    table-layout: fixed;
}

.table_th{
    text-align: center;
    font-weight: normal;
}

.table_top{
    border-top:2px solid blue !important;
}

.tbody > tr > th, td{
    text-align: center;
}

////// map page
.ride_title{
    height:10vh;
    display:flex;
    align-items:center;
    justify-content:space-around;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:25px;
    font-weight:300;
    margin-top:20px;
}
.location_info{
    height:20vh;
    display:flex;
    align-items:center;
    justify-content:flex-start;
}

.subway_info{
    display:flex;
    align-items:center;
    justify-content:center;
    width:50%;
    border-right:1px dashed lightgray;
    font-family: 'Noto Sans KR', sans-serif;
}

.subway_info_2{
    margin-left:20px;
    height:128px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}


.bus_info{
    display:flex;
    align-items:center;
    justify-content:center;
    width:50%;
}

.bus_info_2{
    margin-left:20px;
    height:128px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.subway_info_2>p{
    margin:8px 0px;
}

.subway_1{
    background-color:navy;
    color:white;
    padding:3px 7px;
    margin-right:10px;
    font-size:15px;
}
.subway_2{
    background-color:green;
    color:white;
    padding:3px 7px;
    margin-right:10px;
    font-size:15px;
}


.bus_slow{
    background-color:green;
    color:white;
    padding:3px 7px;
    margin-right:10px;
    font-size:15px;
}

.bus_speed{
    background-color:blue;
    color:white;
    padding:3px 7px;
    margin-right:10px;
    font-size:15px;
}

#map{
    width:100%;
    height:400px;
    margin-top:20px;
}

.ceo_introduce_content{
    width:88%;
    margin-left:67px;
    margin-bottom:100px;
    font-family: 'Noto Sans KR', sans-serif;
}

// main page


.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
} 
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
} 
.carousel-content {
font-size:20px;
color:blue;
padding-top:200px;
padding-left:250px;
margin:0 !important;
}

.carousel-content > .small-font {
font-size: 40px;
margin-top:0!important;
font-family: 'Lato', sans-serif;
font-weight:700;
}

.index_main_line{
    border-top:2px solid blue;
    width:330px;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
} 
.item:nth-child(1) {
  background: url('/main_background.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.item:nth-child(2) {
  background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/D2ROMCUEIV.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.item:nth-child(3) {
  background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/PU9HHZB5QW.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


// product page

.product_sale_banner{
    height:40vh;
    width:100%;
    background: url('/product_sale_banner.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    border-bottom:1px solid lightgray;
}


.product_introduction_banner{
    height:40vh;
    width:100%;
    background: url('/product_introduction_banner.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    border-bottom:1px solid lightgray;
}

.sp_box{
    display:inline-block;
    margin-left:40px;
}

.sp_box_top{
    width:300px;
    height:60px;
    background-color:blue;
    display:inline-flex;
    align-items:center;
    justify-content:center;
}

.sp_box_top_content{
    color:white;
    margin:0px!important;
    font-size:20px;
}

.sp_box_bottom{
    display:block;
    width:300px;
    height:200px;
    border:1px solid lightgray;
}

.sp_box_bottom_content{
    margin-left:20px;
}

// support page


.support_banner{
    height:40vh;
    width:100%;
    background: url('/support_banner.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    border-bottom:1px solid lightgray;
}

.card-header{
    border-left:5px solid blue;
    background-color:white!important;
    border-radius:0px!important;
    padding-bottom:10px!important;
}

.mb-0>a{
    color:blue!important;   
    font-family: 'Noto Sans KR', sans-serif;

    &:hover{
        text-decoration:none;
    }
}

.card{
    margin-bottom:15px;
}


#accordion{
    margin-bottom:80px!important;
}

.faq_line{
    border-top:3px solid blue;
    width:230px;
}

.font_double_large{
    font-size:55px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:500;
}

.font_double_middle{
    font-size:24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:210;
    letter-spacing: -1px;
}
