// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_sale_banner{
    height:40vh;
    width:100%;
    background: url('/product_sale_banner.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    border-bottom:1px solid lightgray;
}


.product_introduction_banner{
    height:40vh;
    width:100%;
    background: url('/product_introduction_banner.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display:flex;
    align-items:center;
    border-bottom:1px solid lightgray;
}

.sp_box{
    display:inline-block;
    margin-left:40px;
}

.sp_box_top{
    width:300px;
    height:60px;
    background-color:blue;
    display:inline-flex;
    align-items:center;
    justify-content:center;
}

.sp_box_top_content{
    color:white;
    margin:0px!important;
    font-size:20px;
}

.sp_box_bottom{
    display:block;
    width:300px;
    height:200px;
    border:1px solid lightgray;
}

.sp_box_bottom_content{
    margin-left:20px;
}