<%= render './layouts/nav' %>

<div class="support_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px;  color:#333;">고객지원</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">항상 고객의 입장에서 생각하겠습니다.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">고객지원</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">FAQ</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large ">자주 묻는 질문</p>
        <p class="faq_line"></p>
        <p class="font-middle">지산화학(주)는 언제나 고객님의 의견에 귀 기울이고 있습니다.</p>
    </div>
    
    <div id="accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              물품결제 문의
            </a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            현재 당사는 온라인상으로 직접 결재가 불가능합니다. <br>
            원하시는 물품에 대하여서는 개별적으로 상담하여 최적화된 조건으로 공급하여 드리는 것을 원칙으로 하므로 <br>
            고객게시판 및 E-Mail, 또는 제품구입을 이용하시어 연락주시면 성의껏 상담하여 드리겠습니다.
          </div>
        </div>
      </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            일반 제품관련 자료 요청 문의
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          제품에 대한 MSDS나 시험성적서, 또는 Sample을 원하신다면<br>
          요청하신부분에 대해 최대한 빠른기간내에 고객분께 보내드리고 있습니다. <br>
          고객님께 원하시는 품목과 요청 자료를 남겨주시면 확인 후 보내드리고 있으니 많은 이용바랍니다.  
        </div>
      </div>
    </div>
    
    <!--<div class="card">-->
    <!--  <div class="card-header" role="tab" id="headingThree">-->
    <!--    <h5 class="mb-0">-->
    <!--      <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
    <!--        Collapsible Group Item #3-->
    <!--      </a>-->
    <!--    </h5>-->
    <!--  </div>-->
    <!--  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">-->
    <!--    <div class="card-body">-->
    <!--      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
  </div>
</div>