<%= render './layouts/nav' %>

<div class="support_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px;  color:#333;">고객지원</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">항상 고객의 입장에서 생각하겠습니다.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">고객지원</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">공지사항</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
  <div class="main_content">
    <p class="font-large">공지사항</p>
    <p class="main_line"></p>
    <p class="font-middle">지산화학(주) 홈페이지 공지사항입니다.</p>
  </div>
  
  
    <div id="accordion" role="tablist">
      <!--<div class="card">-->
      <!--  <div class="card-header" role="tab" id="headingOne">-->
      <!--    <h5 class="mb-0">-->
      <!--      <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
      <!--        Epoxy resin에 대하여..-->
      <!--      </a>-->
      <!--    </h5>-->
      <!--  </div>-->
    
      <!--  <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">-->
      <!--    <div class="card-body">-->
      <!--      Epoxy resin이란 1분자 중에 2개 이상의 옥시란환을 함유한 화합물 을 말하며 접착제, 복합재료, -->
      <!--      도료, 토목, 건축, 전기절연재료등의 용도로사용되는 물질입니다. -->
      <!--      에폭시 수지는 여러 가지 타입이 있으나 비스페놀 A-ECH수지, 에폭시 노볼락 수지 지환성 에폭시 수지, 브롬화 에폭시 수지, 지방산 에폭시 수지, 다관능성 에폭시 수지 등이 주를 차지하며 각종 경화제에 의해 網目 구조로 변화합니다. -->
      <!--      때문에 경화제와 베이스레진에 의해 최종제품의 특성이 결정되므로 이 두가지를 선택하는 것이 가장 중요합니다.  -->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
      
      <div class="card">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
            <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              취급품목
            </a>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            저희 지산화학은 화학제품을 비롯하여 생활, 가전 제품 등을 
            고객여러분의 필요에 따라 공급해 드리고 있습니다. 
            자세한 사항은 담당자 개별 연락 바랍니다.  
          </div>
        </div>
      </div>
      
      <!--<div class="card">-->
      <!--  <div class="card-header" role="tab" id="headingThree">-->
      <!--    <h5 class="mb-0">-->
      <!--      <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
      <!--        epoxy news & trend-->
      <!--      </a>-->
      <!--    </h5>-->
      <!--  </div>-->
      <!--  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">-->
      <!--    <div class="card-body">-->
      <!--        1) Dow to increase Allyl Chloride prices in Europe <br> -->
              
      <!--        Horgen, Switzerland - December 14, 2004 <br>-->
              
      <!--        Effective January 1, 2005, or as contract terms allow, Dow Epoxy Products and Intermediates (EP&I) will be increasing its Allyl Chloride prices. In Europe, Dow is aiming for a 125 Euro/MT. <br>-->
              
      <!--        Customers interested in learning more about the price increase should contact their local Dow sales representative. <br>-->
              
      <!--        Dow is a leader in science and technology, providing innovative chemical, plastic and agricultural products and services to many essential consumer markets. With annual sales of $33 billion, Dow serves customers in more than 180 countries and a wide range of markets that are vital to human progress, including food, transportation, health and medicine, personal and home care, and building and construction, among others. Committed to the principles of sustainable development, Dow and its approximately 46,000 employees seek to balance economic, environmental and social responsibilities. References to "Dow" or the "Company" mean The Dow Chemical Company and its consolidated subsidiaries unless otherwise expressly noted. - Marielle Jaeger -Dow Europe GmbH <br>-->
      <!--        <br>-->
              
      <!--        2) Resolution Announces Versatics Price Increases Globally <br>-->
              
      <!--        Resolution Performance Products LLC (RPP) announced today that it will increase the prices of 2 key product groups in its Versatic Acids and Derivatives business line: VeoVa(TM) Vinylester and Versatic(TM) Acids, in all regions by 100 Euro/metric ton or 130 USD/metric ton (equaling 6 cents per pound), respectively, effective January 1, 2005. "This price increase is necessary to recover still increasing feedstock costs and is supported by the continued strong demand for all products. It allows the Versatics Business to improve the quality of the business so that it can invest in further growth," says Ed Hoozemans, Vice-President for RPP's Versatics Business. Source: PR Newswire <br>-->
                  
      <!--        <br>-->
              
      <!--        3) Dow Increases Epoxy Prices in Europe, Middle East, Africa and India/Pakistan <br>-->
              
      <!--        Effective 1 January 2005, or as contract terms allow, Dow Epoxy Products and Intermediates (EP&I) will increase prices for its epoxy resins in Europe, Middle East, Africa and India/Pakistan. In Europe (Western Europe, Eastern Europe and Turkey), Dow will increase prices by 200 Euro/MT for its liquid, solid, solid solution and standard brominated epoxy resins. In the Middle East, Africa, India/Pakistan, Dow will increase prices by 250 US$/MT for its liquid, solid and solid solution epoxy resins. The increase for specialty resins varies by product. This increase is in addition to the previous increases, effective 1 November, of 230 Euro/MT and effective 1 December, of 150 Euro/MT for liquid, solid, solid solution and standard brominated epoxy resins. Source: www.dowepoxy.com<br> <br>-->
              
      <!--        4 ) Dow Increases Epoxy Prices in North America <br>-->
              
              
      <!--        The Epoxy business of The Dow Chemical Company will be increasing both the <br>-->
      <!--        list and off-list prices for epoxy resins in North America. The increases, effective <br>-->
      <!--        January 1, 2005, are as follows: <br>-->
              
      <!--        Liquid Epoxy Resins, D.E.R.* 300 series, $0.20/lb <br>-->
      <!--        Solid Epoxy Resins, D.E.R. 600 series, $0.20/lb <br>-->
      <!--        Solid Solution Epoxy Resins, D.E.R. 600 series, $0.16/lb <br>-->
      <!--        Liquid Epoxy Blends, D.E.R. 300 series, $0.20/lb <br>-->
      <!--        Glycol Epoxy Resins, D.E.R. 700 series, $0.20/lb <br>-->
      <!--        Novolac Epoxy Resins, D.E.N.* 400 series, $0.20/lb <br>-->
      <!--        Brominated Epoxy Resins D.E.R., 500 series, $0.16/lb <br>-->
      <!--        Epoxy Curing Agents, D.E.H.* 20, 30, 50 & 80 series, $0.15/lb <br><br>-->
              
              
      <!--        5) Air Products Increases Epoxy Prices in Europe <br>-->
              
      <!--        Air Products and Chemicals, today announced that, effective January 1, 2005, a price increase on epoxy hardener product lines sold into the European region will be implemented. This increase, ranging from 2-3% for the hardeners, 2% for the phenolics and 2% for the aromatics/sundries, is necessary to offset some of the continued escalating costs for energy, petrochemical based raw materials, and steel drums used in conjunction with the production and delivery of these products. Source: www.airproducts.com<br>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
      
      <!--  column4-->
      <!--<div class="card">-->
      <!--  <div class="card-header" role="tab" id="headingFour">-->
      <!--    <h5 class="mb-0">-->
      <!--      <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">-->
      <!--        Collapsible Group Item #4-->
      <!--      </a>-->
      <!--    </h5>-->
      <!--  </div>-->
      
      <!--  <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">-->
      <!--    <div class="card-body">-->
      <!--      test-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
    </div>

</div>