<nav id="nav_bar">
    <a href="/en/main/index"><img id="logo_image" src="/jisan_logo_image.jpg" alt="지산화학(주) 로고"></img></a>
    <ul class="nav-bar">
        <li id="nav-company" class="nav-content"><a href="/en/company/ceo">Introduce</a></li>
        <li id="nav-businessarea" class="nav-content"><a href="/en/businessarea/introduce">Business Area</a></li>
        <li id="nav-product-introduce" class="nav-content"><a href="/en/product/chemical">Product Introduce</a></li>
        <li id="nav-product-sale" class="nav-content"><a href="/en/product/sales">Purchase</a></li>
        <li id="nav-support" class="nav-content"><a href="/en/support/notice">Support</a></li>
        <li id="nav-content" class="nav-content"><a href="/">KOREAN</a></li>
    </ul>
</nav>
<div class="subnav">
    <ul class="subnav-company" style="padding-right:450px!important;">
        <li class="subnav-content"><a href="/en/company/ceo">CEO Greeting</a></li>
        <li class="subnav-content"><a href="/en/company/history">History</a></li>
        <li class="subnav-content"><a href="/en/company/vision">Vision</a></li>
        <li class="subnav-content"><a href="/en/company/finance">Finance</a></li>
        <li class="subnav-content"><a href="/en/company/location">Location</a></li>
    </ul>
    
    <ul class="subnav-businessarea" style="padding-right:395px!important;">
        <li class="subnav-content"><a href="/en/businessarea/introduce">Introduce</a></li>
        <li class="subnav-content"><a href="/en/businessarea/partners">Partners</a></li>
    </ul>
    
    <ul class="subnav-product-introduce"  style="padding-right:200px!important;">
        <li class="subnav-content"><a href="/en/product/chemical">Chemical</a></li>
        <li class="subnav-content"><a href="/en/product/life">Life & Electronics</a></li>
    </ul>
    
    <ul class="subnav-product-sale">
        <li class="subnav-content"><a href="/en/product/sales">Salesperson</a></li>
    </ul>
    
    <ul class="subnav-support" style="padding-right:61px!important;">
        <li class="subnav-content"><a href="/en/support/notice">Notice</a></li>
        <li class="subnav-content"><a href="/en/support/faq">FAQ</a></li>
    </ul>
</div>