<%= render 'ennav' %>
<div class="company_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px; color:#333;">회사소개</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">지산화학(주)를 소개합니다.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">회사소개</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">CEO 인사말</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large" style="margin-bottom:8px;">CEO 인사말</p>
        <p class="font-middle">인사말 간단히</p>
        <p class="main_line"></p>
        <p class="font-middle">지향하는 바는 간단히</p>
    </div>
    
    <p class="ceo_introduce_content">
        Thanks sincerely for visiting our newly designed homepage and we are very pleased to meet you with proud through it. </br>

        JISAN CHEMICAL CO., LTD. was founded in Dec. 2001 as a domestic agent for leading chemical companies in Korea such as : Kumho P&B Chemicals, Inc., Kumho Petrochemical Co., Ltd., SK Networks, and etc, of a variety of chemicals in domestic market. </br>
        
        Since its establishment, our business has been making remarkable growth with well established relationship between manufacturers and customers including belief and technical supports in spite of our short history. </br>
        Also, we realize that import, export & offer business should be heart of our business in future with domestic sales. JISAN CHEMICAL CO., LTD., decide, therefore, to focus on and start to those business in 2005. As a result, JISAN CHEMICAL CO., LTD. can jump up its sales volume and repute in world market. </br>
        
        Although we have been doing this business for short years in this field, we have build fairly good business relationships with not only manufacturers, but also end-users in Korea. And we will go together with customer with our sincere efforts, we will make them satisfied and grow up together with us.</br>
        
        We are never satisfied with the result and always to do our best to survive in rapidly changing world market and Challenging the future with ambition and passion fulfills the future of JISAN CHEMICAL CO., LTD.</br>
        
        We ask you for the unchanging support and encouragement and wish you to understand and get familiar with chemical field through our homepage.</br>
        Thank you for your attention and Good luck!
    </p>
</div>