<%= render 'ennav' %>

<div class="company_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px; color:#333;">About Us</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">Introducing JISAN Chemical Co., Ltd.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">About Us</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">CEO Greeting</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large" style="margin-bottom:8px;">CEO Greeting</p>
        <p class="main_line_2" style="width:220px"></p>
        <p class="font-middle">We will create a company that grows with our customers.</p>
    </div>
    <div class="ceo_introduce_content">
        <p class="ceo_introduce_line">
            We would like to express our sincere appreciation to the customers who visited Jisan Chemical Co., Ltd.'s homepage, and I am very pleased to introduce our company and products through our homepage.<br>
        </p>
        <p class="ceo_introduce_line">
            Jisan Chemical Co., Ltd., which started its business in December 2001 with the establishment of Jisan Chemical Co., Ltd. changed its name to Jisan Chemical Co., Ltd. in order to grow its customer satisfaction and contribute to society as of April 30, We are constantly raising our efforts.<br>
        </p>
        <p class="ceo_introduce_line">    
            Our company currently sells phenol, acetone, MIBK, DIBK, BPA, epoxy resin and curing agent as main products in Korea. In addition, various chemical products such as phenol derivatives and solvents are stable to customers. We supply to you. <br>
        </p>
        <p class="ceo_introduce_line">  
            Although we have a short history, we always strive to create the present and future value that we can win-win together with our customers with the top priority to give maximum satisfaction to customers with the best attitude. JISAN CHEMICAL CO., LTD. Is striving to satisfy customers' needs by providing more honest and transparent corporate management and high quality products in the right place for the coming new future.<br>
        </p>
        <p class="ceo_introduce_line">
            In addition, we started to export and import business, which is part of long-term business strategy of Jisan Chemical Co., Ltd., in earnest starting from 2005, to increase shareholder's and financial stability and to reward shareholders and customers. We promise once again that we will be born as a patriotic corporation that can contribute to domestic affiliated companies and Korea.<br>
        </p>
        <p class="ceo_introduce_line">
            Now Jisan Chemical Co., Ltd. is always promising to work with our customers continuously and as a company that grows and grows. I sincerely wish for your unremitting development and ask for your unwavering support and encouragement. <br>
        </p>
        <p class="ceo_introduce_line">
            Thank you.    
        </p>
    </div>
</div>