<%= render 'ennav' %>

<div class="product_introduction_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px; color:#333;">Introduction of item</p>
        <p class="main_double_line" style="width:550px"></p>
        <p class="font_double_middle">We introduce product of Jisan Chemical Co., Ltd.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">Introduction of item</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">Chemicals</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large ">
            Chemicals
        </p>
        <p class="main_line" style="width:180px;"></p>
        <p class="font-middle">
            Jisan Chemical specializes in PHENOL, EPOXY, METHANOL, and other solvents.
            Through our partnership with domestic and foreign manufacturers, we are able to offer reasonable price and high quality chemical products.
            We supply to domestic and overseas.
        </p>
    </div>
    <p>
        <span class="small_title_index">︎</span>
        <span class="font-middle">Product List</span>
    </p>
    <div class="table_scope">
        <table class="table table-bordered">
          <thead>
            <tr>
                <th class="table_top table_th">Abbreviation</th>
                <th class="table_th">designation</th>
                <th class="table_th">Usage</th>
                <th class="table_th">MSDS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th class="table_th" scope="row">ACETONE</th>
                <td></td>
                <td></td>
                <td>
                    <a href="/pdf_file/PHENOL_MSDS.pdf" target="_blank" title="새창">
                        Download file
                    </a>
                </td>
            </tr>    
            <tr>
                <th class="table_th" scope="row">ALUMINA(ATH)</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">AMS</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <th class="table_th" scope="row">BIO-BUNKER</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <th class="table_th" scope="row">BPA</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <th class="table_th" scope="row">CYCLOHEXANONE</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <th class="table_th" scope="row">DEG</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">DIBK</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">DMF</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">EPOXY RESINS</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">IPA</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">METHANOL</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">MEG</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">MIBK</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">MXDA</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">N-BUTANOL</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">PHENOL</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">PHOSPORIC ACID</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">PIA</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">PM</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th class="table_th" scope="row">PMA</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>