<%= render 'ennav' %>

<div class="support_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px;  color:#333;">Customer Support</p>
        <p class="main_double_line" style="width:510px;"></p>
        <p class="font_double_middle">Jisan Chemical Co., Ltd. always think in terms of customers.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">Customer Support</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">FAQ</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large">Frequently asked questions</p>
        <p class="faq_line" style="width:445px;"></p>
        <p class="font-middle">Jisan Chemical Co., Ltd. always listens to your opinions.</p>
    </div>
    
    <div id="accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
            <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Payment Inquiry
            </a>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Currently, we can not make direct payment online.
            In principle, we advise you individually about the desired items and supply them in optimized conditions.
            E-mail, or product purchase, please contact us.
          </div>
        </div>
      </div>
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Request general product information
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          If you want MSDS, test report, or sample for your product
          We will send your request to you as soon as possible.
          If you leave any items you want and request materials, we will send them after confirmation.  
        </div>
      </div>
    </div>
    
    <!--<div class="card">-->
    <!--  <div class="card-header" role="tab" id="headingThree">-->
    <!--    <h5 class="mb-0">-->
    <!--      <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
    <!--        Collapsible Group Item #3-->
    <!--      </a>-->
    <!--    </h5>-->
    <!--  </div>-->
    <!--  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">-->
    <!--    <div class="card-body">-->
    <!--      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
  </div>
</div>