<%= render 'ennav' %>

<div class="company_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px; color:#333;">About Us</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">Introducing JISAN Chemical Co., Ltd.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">About Us</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">Finance</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large ">
            Finance
        </p>
        <p class="main_line" style="width:135px"></p>
        <p class="font-middle">
            Jisan Chemical Co., Ltd. provides transparent financial information<br>
            for mutual benefit with customers.
        </p>
    </div>
    
    <p>
        <span class="small_title_index">︎</span>
        <span class="font-middle">Total sales</span>
    </p>
    
    <img class="finance_chart" src="/total_sales_chart.png"></img>
    
    <p>
        <span class="small_title_index">︎</span>
        <span class="font-middle">Net Income</span>
    </p>
    <img class="finance_chart" src="/benefit_chart.png"></img>

    
    <p>
        <span class="small_title_index">︎</span>
        <span class="font-middle">Total assets</span>
    </p>
    
    <img class="finance_chart" src="/asset_chart.png"></img>
    
    
</div>