<%= render 'ennav' %>

<div class="company_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px; color:#333;">About Us</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">Introducing JISAN Chemical Co., Ltd.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">About Us</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">History</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large">History</p>
        <p class="main_line" style="width:125px"></p>
        <p class="font-middle">Jisan Chemical Co., Ltd. is a comprehensive trading company with a 15-year history tradition.</p>
    </div>
    <div class="history-main-wrap">
        <div class="history-main-left">
            <p class="history-left-small-line"></p>
            <p class="history-left-small-line"></p>
            <p class="history-left-small-line"></p>
            <p class="history-left-small-line"></p>
            <p class="history-left-small-line"></p>
            <p class="history-left-small-line"></p>
            <p class="history-left-small-line"></p>
            <p class="history-left-small-line"></p>
        </div>
        <div class="history-main-right">
            <p>
                <span class="history-year">2002</span>
                <span class="history-dotted-line"></span>
                <span class="history-year-content">
                    Established Jisan Chemical Co., Ltd.
                    <br>
                    Opening agency (SK Networks, Hanwha Corp, BASF-Korea, DNC Inc.
Kumho Petrochemical Co., Ltd , Kumho P&B Chemicals, Inc.)
                </span>
            </p>
            <p>
                <span class="history-year">2006</span>
                <span class="history-dotted-line"></span>
                <span class="history-year-content">
                    Achieved sales of 10 billion won
                </span>
            </p>
            <p>
                <span class="history-year">2007</span>
                <span class="history-dotted-line"></span>
                <span class="history-year-content">
                    Achievement of 1 million dollar export 
                </span>
            </p>
            <p>
                <span class="history-year">2009</span>
                <span class="history-dotted-line"></span>
                <span class="history-year-content">
                    Achieved sales of 20 billion won
                    <br>
                    Achievement of 3 million dollar export
                </span>
            </p>
            <p>
                <span class="history-year">2011</span>
                <span class="history-dotted-line"></span>
                <span class="history-year-content">
                    Achievement of 5 million dollar export
                </span>
            </p>
            <p>
                <span class="history-year">2012</span>
                <span class="history-dotted-line"></span>
                <span class="history-year-content">
                    Achievement of 10 million dollar export
                </span>
            </p>
            <p>
                <span class="history-year">2014</span>
                <span class="history-dotted-line"></span>
                <span class="history-year-content">
                    Achieved sales of 40 billion won
                </span>
            </p>
            <p>
                <span class="history-year">2017</span>
                <span class="history-dotted-line"></span>
                <span class="history-year-content">
                    Commenced export of household electrical appliances to Japan
                    <br>
                    (Signed a business agreement with Yamasa Corporation in Japan)
                </span>
            </p>
        </div>
    </div>
</div>