<%= render 'ennav' %>

<div class="businessarea_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px;">Business Area</p>
        <p class="main_double_line" style="width:400px"></p>
        <p class="font_double_middle">Introduces the business area of Jisan Chemical Co., Ltd.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">Business Area</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">Business Introduction</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large ">
            Business Introduction
        </p>
        <p class="main_line" style="width:350px"></p>
        <p class="font-middle">
            Jisan Chemical Co., Ltd. is a company that pursues continuous growth based on domestic and overseas markets, focusing on chemical products and household appliances.
            In addition, we maintain cooperation with domestic and foreign manufacturers to provide reasonable price and high quality products to our customers. 
        </p>
    </div>
    <div class="business_introduce_image">
        <img src="/business_introduce_en_graph.png" class="business_introduce_graph"></img>
    </div>
</div>