<%= render 'ennav' %>

<div class="businessarea_banner">
    <div class="banner_content_2">
        <p class="font_double_large" style="margin-bottom:8px;">사업분야</p>
        <p class="main_double_line_2"></p>
        <p class="font_double_middle">지산화학(주)의 사업 영역을 소개합니다.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">사업분야</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">사업소개</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large ">
            사업소개
        </p>
        <p class="main_line"></p>
        <p class="font-middle">
            지산화학(주)는 화학제품 및 생활가전 제품을 주력으로 국내 및 해외시장을 기반으로 지속적인 성장을 지향하는 기업입니다.
            또한, 고객에게 합리적인 가격과 우수한 품질의 제품을 제공하기 위해 국내외 제조사들과 협력관계를 유지하고 있습니다. 
        </p>
    </div>
    <div class="business_introduce_image">
        <img src="/business_introduce_graph.png" class="business_introduce_graph"></img>
    </div>
</div>