<%= render 'ennav' %>

<div class="company_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px; color:#333;">About Us</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">Introducing JISAN Chemical Co., Ltd.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">About Us</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">Location</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    
    <div class="main_content">
        <p class="font-large ">Location</p>
        <p class="main_line"></p>
        <p class="font-middle">JISAN CHEMICAL CO., LTD. Will always stay awake for customer's happiness.</p>
    </div>
    
    <div id="map"></div>
    
    <div class="ride_title">
        <span>SUBWAY</span>
        <span>BUS</span>
    </div>
    <div class="location_info">
        <div class="subway_info">
            <img src="/subway_icon2.png"></img>
            <div class="subway_info_2">
                <p><span class="subway_1">1 line</span><span class="subway_2">2 line</span>1.1km from exit 6 of Sindorim Station</p>
                <p><span class="subway_2">2 line</span>600m from exit 1 of Dorimcho Station</p>
                <p><span class="subway_2">2 line</span>1.2km from exit 1 of Mungra Station</p>
            </div>
        </div>
        
        <div class="bus_info">
            <img src="/bus_icon.png"></img>
            <div class="bus_info_2">
                <p><span class="bus_slow">branch line</span> 6649, 6640A, 6637, 6625, 6516, 88-1</p>
                <p><span class="bus_speed">trunk line</span> 641, 670</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

$( document ).ready(function() {
    // var map = null;
    //     function startMap() {
    //     var position = new naver.maps.LatLng(37.514940, 126.886036);
    //     var map = new naver.maps.Map('map', {
    //         center: position,
    //         zoom: 10
    //     });
        
    //     var marker = new naver.maps.Marker({
    //         position: position,
    //         map: map,
    //         icon: {
    //             url: '/pin_icon.png', //50, 68 크기의 원본 이미지
    //             size: new naver.maps.Size(34, 34),
    //             scaledSize: new naver.maps.Size(30, 34),
    //             origin: new naver.maps.Point(0, 0),
    //             anchor: new naver.maps.Point(12, 34)
    //         }
    //     });
    // }
    
    var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng(37.514940, 126.886036),
    zoom: 10
    });
    
    var marker = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.514940, 126.886036),
        map: map
    });
    
    
    console.log("hello")
});

</script>