<%= render 'ennav' %>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<div id="carouselFade" class="carousel slide carousel-fade" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="black_cover">
          <div class="main_comment">
            <h3>Company</h3>
            <div class="main_comment_2">
              <p class="main_bottom_comment">
              A company that does its best to satisfy customers</br>
              Jisan Chemical Co., Ltd.
              </p>
              <p class="main_bottom_button">
                <a href="/product/chemical">Product Details</a>
                <a href="/businessarea/introduce">Learn more</a>
              </p>
            </div>
          </div>
      </div>
    </div>
    <div class="item">
      <div class="black_cover">
          <div class="main_comment">
            <h3>Chemical</h3>
            <div class="main_comment_2">
              <p class="main_bottom_comment">
              A company that does its best to satisfy customers</br>
              Jisan Chemical Co., Ltd.
              </p>
              <p class="main_bottom_button">
                <a href="/product/chemical">Product Details</a>
                <a href="/businessarea/introduce">Learn more</a>
              </p>
            </div>
          </div>
      </div>
    </div>
    <div class="item"> 
      <div class="black_cover">
          <div class="main_comment">
            <h3>Life</h3>
            <div class="main_comment_2">
              <p class="main_bottom_comment">
              A company that does its best to satisfy customers</br>
              Jisan Chemical Co., Ltd.
              </p>
              <p class="main_bottom_button">
                <a href="/product/chemical">Product Details</a>
                <a href="/businessarea/introduce">Learn more</a>
              </p>
            </div>
          </div>
      </div>
    </div>
    <div class="item"> 
      <div class="black_cover">
          <div class="main_comment">
            <h3>Electronics</h3>
            <div class="main_comment_2">
              <p class="main_bottom_comment">
              A company that does its best to satisfy customers</br>
              Jisan Chemical Co., Ltd.
              </p>
              <p class="main_bottom_button">
                <a href="/product/chemical">Product Details</a>
                <a href="/businessarea/introduce">Learn more</a>
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.carousel').carousel({
  interval: 5000
})
</script>