<%= render 'ennav' %>

<div class="businessarea_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px;">Business Area</p>
        <p class="main_double_line" style="width:400px"></p>
        <p class="font_double_middle">Introduces the business area of Jisan Chemical Co., Ltd.</p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">Business Area</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page"></span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large" style="margin-bottom:8px;">Affiliates and clients</p>
        <p class="logo_line" style="width:330px"></p>
        <p class="font-middle">Affiliated companies and Jisan Chemical Co., Ltd. always aim for joint growth.</p>
    </div>
    
    <div class="partners_logo_box">
        <div class="partners_logo_column">
            <a href="http://www.akzonobel.com/international" target="blank"><img class="partners_logo_4" src="/akzonobel_logo_4.png"></img></a>
                <p class="logo_dummy_4"></p>    
            <a href="http://www.lgchem.co.kr" target="blank"><img class="partners_logo_3" src="/lgchem_logo_3.png"></img></a>
                <p class="logo_dummy_3"></p>
        </div>
        <div class="partners_logo_column">
            
            <a href="http://www.basf.co.kr" target="blank"><img class="partners_logo_5" src="/basf_logo_5.png"></img></a>
                <p class="logo_dummy_5"></p>
            <a href="http://www.sknetworks.co.kr" target="blank"><img class="partners_logo_6" src="/sknetworks_logo_6.png"></img></a>
                <p class="logo_dummy_6"></p>
        </div>
    </div>
</div>




