<%= render 'ennav' %>

<div class="product_sale_banner">
    <div class="banner_content">
        <p class="font_double_large" style="margin-bottom:8px;">Purchase</p>
        <p class="main_double_line"></p>
        <p class="font_double_middle">
            JISAN CHEMICAL CO., LTD. Aims to maintain<br>
            a constant relationship with customers.
        </p>
    </div>
</div>
<div class="category">
    <div class="category_content_box">
        <p class="category_content">
            <span class="category_content_name">HOME</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content">
            <span class="category_content_name">Purchase</span>
            <span class="category_content_img">></span>
        </p>
        <p class="category_content_last">
            <span class="category_content_name current_page">Salesperson</span>
            <span class="category_content_img">></span>
        </p>
    </div>
</div>
<div class="container">
    <div class="main_content">
        <p class="font-large ">
            Salesperson
        </p>
        <p class="main_line_2"></p>
        <p class="font-middle">
            We will contact you with department contact information.
        </p>
    </div>
    
    <p>
        <span class="small_title_index">︎</span>
        <span class="font-middle">Domestic / Overseas Sales</span>
    </p>
    <div class="table_scope">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table_top table_th" style = "width: 160px">Name</th>
              <th class="table_th">E-mail</th>
              <th class="table_th">Phone number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th class="table_th" scope="row">Jun-ho, Hwang</th>
                <td>jhwang@jisanchem.com</td>
                <td class="table_center" rowspan="2">
                    <span class="font-middle">82+ 02-2678-8257</span>
                </td>
            </tr>
            <tr>
              <th class="table_th" scope="row">Yilim, Jung</th>
              <td>lyjung@jisanchem.com</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>