<nav id="nav_bar">
    <a href="/"><img id="logo_image" src="/jisan_logo_image.jpg" alt="지산화학(주) 로고"></img></a>
    <ul class="nav-bar">
        <li id="nav-company" class="nav-content"><a href="/company/ceo">회사소개</a></li>
        <li id="nav-businessarea" class="nav-content"><a href="/businessarea/introduce">사업분야</a></li>
        <li id="nav-product-introduce" class="nav-content"><a href="/product/chemical">제품소개</a></li>
        <li id="nav-product-sale" class="nav-content"><a href="/product/sales">제품구매</a></li>
        <li id="nav-support" class="nav-content"><a href="/support/notice">고객지원</a></li>
        <li id="nav-content" class="nav-content"><a href="/en/main/index">ENGLISH</a></li>
    </ul>
</nav>
<div class="subnav">
    <ul class="subnav-company">
        <li class="subnav-content"><a href="/company/ceo">CEO 인사말</a></li>
        <li class="subnav-content"><a href="/company/history">회사연혁</a></li>
        <li class="subnav-content"><a href="/company/vision">VISION</a></li>
        <li class="subnav-content"><a href="/company/finance">재무정보</a></li>
        <li class="subnav-content"><a href="/company/location">오시는길</a></li>
    </ul>
    
    <ul class="subnav-businessarea">
        <li class="subnav-content"><a href="/businessarea/introduce">사업소개</a></li>
        <li class="subnav-content"><a href="/businessarea/partners">관계사 및 고객사</a></li>
    </ul>
    
    <ul class="subnav-product-introduce">
        <li class="subnav-content"><a href="/product/chemical">화학제품류</a></li>
        <li class="subnav-content"><a href="/product/life">생활가전류</a></li>
    </ul>
    
    <ul class="subnav-product-sale">
        <li class="subnav-content"><a href="/product/sales">판매담당자</a></li>
    </ul>
    
    <ul class="subnav-support">
        <li class="subnav-content"><a href="/support/notice">공지사항</a></li>
        <li class="subnav-content"><a href="/support/faq">FAQ</a></li>
    </ul>
</div>